@using System.Web.Optimization

@{
    ViewBag.Title = "Shame The Thrones!";
    ViewBag.NavbarTab = "Home";
}
<div class="row spaced">
    <div class="col-xs-12" id="homeGreeting">
        Welcome to ShameTheThrones, to start rating public restrooms please log in.
    </div>
</div>
<div class="row spaced homeSearch">
    <div class="col-xs-12">
        <div class="centered">
            <h1>
                <a href="javascript:mainApp.homePage.getLocation()" type="button" class="btn btn-default rate-button">Click here to find bathrooms around you</a>
            </h1>
            <h2>Or...</h2>
        </div>
        <div class="input-group">
            <input type="text" class="form-control" placeholder="start typing a zip code...">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button">Go!</button>
            </span>
        </div><!-- /input-group -->
    </div><!-- /.col-lg-6 -->
</div>
<div class="row">
    <div class="col-xs-12">
        <ul class="list-group searchResults"></ul>
    </div>
</div>
<div id="map"></div>
<div id="demo"></div>
@section ScriptsBefore
{
    <script type="text/javascript">
        var waitUntilLoaded = true;
        var seconds = new Date().getTime() / 1000;
        var stopTimer = function () {
            return (new Date().getTime() / 1000) - seconds;
        }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC_N_J5ihjjP4YJ-sKBMGselkuhwi0Ltzg"></script>
}
@section Scripts
{
    <script type="text/javascript">
        mainApp.constructHomePage();
    </script>
}   