
@{
    ViewBag.Title = "Shame The Thrones!";
    ViewBag.NavbarTab = "Home";
}

<div class="col-xs-12" id="homeGreeting">
        Welcome to ShameTheThrones, to start rating public restrooms please log in.
</div>

