@using System.Web.Optimization
@using ShameTheThrones.Infrastructure

@{
    ViewBag.Title = "Shame The Thrones!";
    ViewBag.NavbarTab = "Home";
    ViewBag.TitleClass = "home";
}
<div class="row spaced">
    <div class="col-xs-12" id="homeGreeting">
       
        @if (!Request.IsAuthenticated)
        {
            <h1 class="text-center">Welcome to Shame The Thrones</h1>
            <h3 class="text-center">Please <a href="@Url.Action("LogIn", "User")">Login</a> to rate a restroom </h3>
        }
        else
        {
            <h1 class="text-center">Welcome @User.Identity.getUser().UserName!</h1>
        }
        
        
    </div>

    <div class="col-xs-12">
        <h3 class="text-center">Here are three options to find restrooms</h3>
    </div>
</div>
<div class="row spaced homeSearch">
    <div class="col-md-4 vertical-align-container">
        <div class="centered">
            <h1>
                <button id="bathroomsAroundMe" href="javascript:void(0);" type="button" class="btn btn-default map-button">Restrooms near me</button>
            </h1>
        </div>
    </div><!-- /.col-md-4 -->
    <div class="col-md-4 vertical-align-container">
        <div class="centered">
            <h1>
                <button href="@Url.Action("Add", "Restroom")" onclick="window.location.href = this.getAttribute('href');" type="button" class="btn btn-default rate-button">Add a bathroom</button>
            </h1>
        </div>
    </div><!-- /.col-lg-6 -->

    <div class="col-md-4 vertical-align-container ">
        <h1>
            <div class="input-group">
                <input type="text" class="form-control zip-code-search" placeholder="Search for a restroom">
                <span class="input-group-btn">
                    <button id="SearchAddress" class="btn btn-default form-btn" type="button">Search</button>
                </span>
            </div><!-- /input-group -->
        </h1>
    </div><!-- /.col-lg-6 -->
</div>
<div class="row">
    <div class="col-xs-12">
        <ul class="list-group searchResults"></ul>
    </div>
</div>

<div class="map_container">
    <div class="legend">
        <div class="legend__0"><span>Not Rated</span></div>
        <div class="legend__1"><span>0 - 1</span></div>
        <div class="legend__2"><span>1 - 2</span></div>
        <div class="legend__3"><span>2 - 3</span></div>
        <div class="legend__4"><span>3 - 4</span></div>
        <div class="legend__5"><span>4 - 5</span></div>
    </div>
    <div class="map"></div>
</div>

