
@import "includes/homesearch";
@import "includes/legend";
@import "includes/_homepage";
@import "includes/bootstrapExtending";
@import "includes/rating";
body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #ecf0f1;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    padding-top:100px;
}



.centered {
    text-align: center;
}

.errors {
    color:#ce0000;
}

.btn {

    background-color: #2980b9;
    box-shadow: rgba(0,0,0,0.7) 0 3px 1px;
    transition: all 0.05s;
    color: white;
    border:none;
    position:relative;
    top: -1.5px;
    &:focus {
        background-color: #2980b9;
        color: white;
        outline: none;
        border:none;
    }
    &:hover {
       
        background-color: #3498db;
        color: white;
        border: none;
        
    }
    &.btn-default:active {
        background-color: lighten(#3498db, 10%);
        box-shadow: rgba(0,0,0,0.7) 0 1px 2px;
        top: 2.5px
    }

    .form-btn{
        box-shadow: black 0px 0px 0px;
    }
}
.flexible-btn-container {
    min-height: 40px;
}
.padding-vertical {
    padding-top: 10px;
    padding-bottom: 10px;
}
.margin-vertical {
    margin-top: 10px;
    margin-bottom: 10px;
}
.field-validation-error {
    color: darken(red, 10%);
}

.panel{
    .panel-heading{
        background-color: #2980b9;
        color: white;
        font-size: 20px;
    }

    .rating-heading{
        background-color: #6389A2;
        text-transform: capitalize;
    }
    
}

.navbar{
    li{
        background-color: inherit;
        transition: background-color 0.2s;

        &:hover{
            background-color: #3498db;
            color: white;
        }

         a{
            color: black;
            

            &:hover{
                color: white;
            }
       
        }


    }
    
}