@model ShameTheThrones.Models.rating.RatingListModel 

@{
    ViewBag.Title = "Ratings";
}

<h1 class="centered">Latest Ratings</h1>

@foreach (var rating in Model.ratings)
{
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                <div class="row">
                    <div class="col-xs-8">
                        @rating.Title
                    </div>
                    <div class="col-xs-4">
                        @rating.Rating
                    </div>
                </div>
                
            </h3>
        </div>
        <div class="panel-body">
            @rating.Comment
        </div>
    </div>
}